.Section{
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    padding-top: 25%;
}
.add{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    margin: 2% 0 5% 10%;
    color: gray;
}
.add svg{
    cursor: pointer;
    scale: 30;
}

@media (min-width:992px) {
    .Section{
        padding-top: 9vh;
    }    
    .add{
        margin:2% 0 0 4%;
        width: 20%;
        height: 40vh;
    }
    .add svg{
        scale: 10;
    }
}